<!DOCTYPE html>
<html>
<head>
    <title>All Reviews</title>
</head>
<body>
    <h1>All Reviews</h1>

    {% if reviews %}
        <table>
            <thead>
                <tr>
                    <th>Reservation ID</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr>
                    <td>{{ review.reservationId.reservationID }}</td>  <td>{{ review.rating }}</td>
                    <td>{{ review.comment }}</td>
                    <td>{{ review.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reviews found.</p>
    {% endif %}
<br><br>br

<form id="ratingForm" method="post" action="{% url 'writeReview' %}">
    {% csrf_token %}
    <label for="rating">Rating (1 to 5):</label>
    <input type="number" id="rating" name="rating" min="1" max="5" required><br><br>
    
    <label for="comment">Comment:</label><br>
    <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>
    
    <label for="token">token:</label>
    <input type="text" id="token" name="token" required><br><br>
    
    <button type="submit">Submit</button>
  </form>

</body>
</html>
